.shadow-b {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container {
  max-width: 1296px;
  padding: 0 72px;
  @include v-md {
    padding: 0 42px;
  }
  @include v-sm {
    padding: 0 24px;
  }
}

.row {
  margin: 0;
}

.fw-semi {
  font-weight: 600;
}
