.hero {
  padding: 100px 0 20px;
}

.hero-img {
  width: 250px;
  height: 250px;
  background-image: url('./../assets/img/hero-img.webp');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.7);
}
