$img-size: 310px;
$img-size-md: 210px;
$img-size-sm: 190px;

.project {
  border-radius: 40px;
  background-image: linear-gradient(45deg, rgba(0, 255, 0, 0.2), rgba(0, 0, 255, 0.2));
  @include v-sm {
    border-radius: 30px;
  }

  &__img {
    height: $img-size;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    @include v-md {
      height: $img-size-md;
    }
    @include v-sm {
      height: $img-size-sm;
    }
    :hover {
      img {
        transform: translateY(calc(-100% + $img-size));
      }
      @include v-md {
        transform: translateY(calc(-100% + $img-size-md));
      }
      @include v-sm {
        transform: translateY(calc(-100% + $img-size-sm));
      }
    }
  }

  img {
    transition-property: transform;
    transition-timing-function: linear;
    width: 100%;
  }

  a {
    text-decoration: underline;
  }
}
